@import 'tailwindcss';
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-noto: 'Noto Serif', serif;
  --font-inter: 'Inter', sans-serif;
  --width-custom-container: 1120px;
  --max-width-site: 1440px;
  --color-p: rgba(0, 0, 0, 0.5);
}

@layer base {
  body {
    max-width: var(--max-width-site);
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-inter);
    background-color: #f5f8ff;
  }
}

@layer components {
  .custom-container {
    max-width: var(--width-custom-container);
    margin: 0px auto;
  }
}
